#main_menu .option {display: none;}
#hand_balloon {display:block}
#text_holder {margin-left:7%;}
#pushin_up_my_buttons_babe {background-size:80% !important;}
body {font-size: 1em; }
#quote1 {left: 52% ;  height: 170px;}

#eagle {width:140px; height: auto;}
.logo {  margin-top: 55px;} 