#hand_balloon {display:none}
#main_menu .option {display: none;}
#quote1 {left:auto; right:5%; height: 169px;}
#cloud2 {right: 2%; margin-left: auto; position: absolute;}
#content1 {width: 100%;}
#text_holder {margin-left:0%; float:none; display:inline-block;}
#text_holder p {text-align: justify;}
#main_menu {float:none; display:inline-block;}
body {font-size: 0.95em;}
#eagle {width:140px; height: auto;}
.logo {  margin-top: 55px;} 